<html>
  <head>
    <meta charset='utf-8' />
    <title>Vin-Details</title>
  </head>
  <body>
    <h1>Vin-Details</h1>
    <h3>Vin- Number : {{vin}}</h3>
    <h3>YEAR : {{year}}</h3>
    <h3>MAKE : {{make}}</h3>
    <h3>MODEL : {{model}}</h3>
    <h3>TRIM : {{trim}}</h3>
    <h3>COLOR : {{color}}</h3>
    <h3>COLOR-Hex : {{colorHex}}</h3>
    <h3>STYLE-ID : {{styleId}}</h3>
  </body>
</html>